.basket h2 {
  text-align: center;
  font-weight: 600;
  padding-top: 2rem;
  font-family: "Muli";
}

.basket hr {
  height: 0.6rem !important;
  width: 8rem;
  background-color: blue !important;
  margin-bottom: 3rem;
  margin-left: 35rem !important;
  opacity: 3;
}

.basket .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  text-align: left;
}

.basket .product img {
  height: 16rem;
  padding-bottom: 0rem;
}

.basket .product div:last-child {
  padding-left: 2rem;
  padding-top: 1rem;
}

.basket .product h6 {
  font-weight: 400;
}

.basket .product h5 {
  font-size: 1.4rem;
  font-weight: 600;
}

.basket .productimage {
  color: black;
}

.basket .input-group {
  padding-top: 3.3rem;
}

.basket .input-group .border {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: 2px #B5B7BC solid !important;
  color: #B5B7BC;
}

.basket .input-group .quant {
  border: 2px #B5B7BC solid;
  width: 4rem;
  height: 2rem;
  text-align: center;
  border-radius: 6px !important;
  padding-top: 5px;
  margin-top: 0.4rem;
}

.basket .input-group p:last-child {
  font-size: .9rem;
}

.basket .icon {
  padding-top: 1.5rem;
}

.basket .icon p {
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Muli";
}

.basket .basket-t h6 {
  font: normal normal normal 16px/24px Muli;
}

.basket .basket-1 {
  font: normal normal normal 16px/24px Muli;
}

.basket .basket-left {
  font: normal normal normal 16px/24px Muli;
}

.basket .cartdetails {
  border: 2px #D1D3D6 solid;
  padding: 2rem;
  -webkit-box-shadow: 5px 10px 8px 10px #0000000d;
          box-shadow: 5px 10px 8px 10px #0000000d;
  border-radius: 0.3rem;
}

.basket .cartdetails h5 {
  font-size: 1.5rem;
  font-weight: 600;
}

.basket .cartdetails h6 {
  font-size: 14px;
  font-weight: 400;
}

.basket .cartdetails button {
  padding-top: 1rem;
}

.basket .cartdetails .check {
  border: none;
  background-color: #1363DF;
  color: white;
  padding: 8px 70px;
  border-radius: 2rem;
  margin-top: 1rem;
  height: 47px;
  width: 231px;
}

.basket .cartdetails .check p {
  color: white;
  position: relative;
  bottom: 34px;
  left: 17px;
}

.basket .cartdetails .paypal {
  background-color: transparent;
  border: none;
}

.buttonsone {
  text-align: center;
}

.acco-right {
  padding-left: 14rem;
}

.caro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 250px;
  width: 100%;
  color: #fff;
  margin: 0 15px;
  font-size: 1em;
}

.accordianphone {
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .basket .input-group {
    padding-top: 0.3rem;
    margin-left: 173px;
    margin-top: -18px;
  }
  .basket-1 {
    font: normal normal normal 16px/24px Muli;
  }
  .basket-t h6 {
    font: normal normal normal 16px/24px Muli;
  }
  .icon {
    display: none;
  }
  .basket hr {
    height: 0.6rem !important;
    width: 27%;
    background-color: blue !important;
    margin-bottom: 3rem;
    margin-left: 8rem !important;
    opacity: 3;
  }
  .acco-right {
    padding-left: 8rem;
  }
  .accordianone {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1020px) {
  .icon {
    display: none;
  }
  .basket hr {
    display: none;
  }
  .accordianone {
    display: none;
  }
}
/*# sourceMappingURL=Basket.css.map */