

.guest-3 {
    padding-left: 245px;
    padding-top: 10px;
p{
    color: #1363DF;
    display: flex;
}
}


.product-desc {
    padding-top: 2rem;
    padding-bottom: 2rem;
    h6{
        font: normal normal normal 16px/24px Muli;
    }
    h5{
        font: normal normal 600 16px/20px Muli;
    }
}

.checkout-pro {
    padding-bottom: 2rem;
}

.main-btn1{
    width: 30%;
    background: #1363DF;
    border: 2px;
    top: 50px;
    left: 188px;
    position: relative;
    border-radius: 14px;
    height: 33px;
    a{

            color: white;
    
    }

}

.main-p {
    font: normal normal normal 16px/24px Muli;
    position: relative;
    top: 60px;
    text-align: center;
}

.checkout-pro img {
    height: 140px;
    position: relative;
    left: 9px;
}
@media only screen and (max-width: 320px){

.main-btn1{
    width: 44%;
    top: 30px;
    left: 91px;
    position: relative;
}
.text-right h6{
    position: relative;
    // top: 181px;
    bottom: 177px;
}
.main-p{
    position: relative;
    top: 28px;
}
}