// 

* {
    font-family: Source Serif Pro, Semibold;
}

.guestcheckout h4 {
    font: normal normal 600 30px/30px Source Serif Pro;
}

.guestcheckout h6 {
    font: normal normal 600 15px/25px Muli;
}
.guestcheckout p{
        font: normal normal normal 14px/25px Muli;
}

.btn-shipping-1 {
    margin-bottom: 30px;
}

.fname {
    width: 283px;
    height: 37px;
    border-radius: 3px;
    border: 1px solid #B5B7BC;
}

.firstname {
    margin-left: 0px;
}

.f1name {
    width: 40%;
    border-radius: 3px;
    border: 1px solid #B5B7BC;
    position: relative;
    top: 15px;
    height: 37px;
}

.f2name {
    width: 45%;
    border-radius: 3px;
    border: 1px solid #B5B7BC;
    position: relative;
    top: 13px;
    left: 8px;
    height: 37px;
}

.last12 {
    margin-top: 92px;

}

.state {
    display: flex;
}

.shipping-info {
    color: #172026;
    font: normal normal 400 15px/10px Muli;
    margin-top: 10px;
}

.lname {
    margin-top: 200px;
}


.pricing-card {
    margin-left: 185px;
    border: 1px solid #D1D3D6;
    padding: 10px;

}

.signin-check {
    margin-left: 185px;
    border: 1px solid #D1D3D6;
    margin-bottom: 10px;
    padding: 10px;

    h5 {

        font: normal normal 600 15px/20px Muli;
    }

    .signin-btn {
        // color: #E26A2C;
        padding: 5px;
        margin-left: 10px;
        border: 1px solid #2A65D7;
        width: 100px;
        height: 30px;
        border-radius: 4px;
        background: white;
    }

    .signin-btn p {
        font-size: 10px;
        // color: #E26A2C;
    }
}
.f1name label{
    position: relative;
    left: 136px;
    top: 17px;
}
.h18 {
    width: -1px;
    font-size: 12px;
}

.btn-shipping-1 {
    text-align: center;
    height: 40px;
    border: 2px solid #2A65D7;
    border-radius: 14px;
    position: relative;
    top: 27px;
    right: 131px;
    width: 31%;
}

.btn-shipping-1 p {
    font-size: 10px;
    color: #2A65D7;
    padding: 10px;
}

.main-text {
    text-align: center;
    color: black;
    font-size: 30px;
    padding-top: 20px;
}

.container-Checkout hr {
    height: 0.5rem !important;
    width: 5%;
    background-color: #2A65D7 !important;
    margin-bottom: 3rem;
    margin-left: 38rem !important;
    opacity: 3;
}