$black: #545D63;
$blue: #172026;

.footer_account_one a {
  text-decoration: none;
  color: $black;
  font-size: 16px;
}

.footer1{
 
  position: relative;
top: 96px;
}

.footer_account ul,
.footer_about ul,
.footer_help ul {
  padding-left: 0px;
}
.footer_aboutus li,
.footer_account_one li {
  list-style-type: none;
  
}

.footone {
  padding-bottom: 2rem;
}
// .footer_follow p{
//   font-family: "Muli, Regular";
//   font-size: 16px;
// }
.footer_account h6,
.footer_about h6,
.footer_help h6,
.footer_follow h6{
  letter-spacing: 1px;
  font-family: "Muli,SemiBold";
  font-size: 16px;
}
.footer_account_one li,
.footer_follow p,
.footer_aboutus a,
.footer_help_one a {
  text-decoration: none;
  font-family: 'Muli';
  letter-spacing: 1px;
  color: $black;
  font-size: 16px;
}
.footer_help_one li {
  list-style-type: none;
}
.footer_follow p {
  color: $black;
}
.footer_follow h6,
.footer_help h6,
.footer_about h6,
.footer_account h6 {
  color: $blue;
  font: normal normal 600 16px/24px Muli;
}
.footer_terms {
  display: flex;
  gap: 20px;
}
.footer_terms a {
  color: $blue;
  font-size: 14px;
}
.footerp {
  color: $black;
  font-size: 14px;
}
.social-links a {
  font-size: 20px;
  color: $blue;
}
.social-links{
  display: flex;
}
.footerphone{
  display:none;
}

@media only screen and (min-width: 320px) and (max-width: 765px) {
  .footer_termsphone {
    padding-left: 70px;
    display: flex;
    gap: 20px;
    padding-top: 26px;
  }
   
  
  .footer_termsphone a {
    color: $blue;
    font-size: 14px;
  }
  .footerphone{
    display:block;
  }
  .footerdesktop{
    display:none;
  }
  .footerphone{
    text-align: center;
  } 
}
@media only screen and (min-width: 768px) and (max-width: 1020px) {
  .footer_termsphone {
   display: none;
    
  }
  .footer_termsphone a {
    color: $blue;
    font-size: 14px;
  }
  .footerphone{
    display:block;
  }
  .footerdesktop{
    display:none;
  }
  .footerphone{
    text-align: center;
  } 
}