@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* import font */
:root {
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
}

/* variables*/
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: Muli;
}

.headercontainer {
    height: 80px;
    background-color: #1363DF;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

.carticon {
    display: inline-block;
    padding: 20px;
}

.carticon svg {
    width: 22px;
    stroke: whitesmoke;
    background: #1363DF;
}

.headerlogo {
    width: 112px;
    height: 48px;
    margin-top: 30px;
    padding-right: 10px;
}

/* Header */
.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    background-color: #1363DF;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
}

/* Logo */
.logo {
    display: inline-block;

    a {
        color: white;
        font-weight: 100;
        font-size: 2rem;
    }
}

/* Nav menu */
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
}

.menu a {
    display: block;
    padding-top: 18px;
    padding-bottom: 18px;
    font-weight: 700;
    color: var(--white);
    text-decoration: none;
    font-family: "Muli";
    font-size: 16px;
}

.menu a:hover {
    border-bottom: 2px solid white;
    border-radius: 10px solid white;
}

.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    float: left;
    padding: 25px 20px;
}

/* Style label tag */
.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

/* Style span tag */
.hamb-line::before,
.hamb-line::after {
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Hide checkbox */
/* Toggle menu icon */
.side-menu:checked~nav {
    max-height: 100%;
}

.side-menu:checked~.hamb .hamb-line {
    background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

/* Responsiveness */
@media (min-width: 768px) {
    .headercontainer {
        width: 100%;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .nav {
        max-height: none;
        top: 0;
        display: inline-block;
        position: relative;
        background-color: #1363DF;
        width: fit-content;
        padding: 10px;
    }

    .menu li {
        float: left;
        padding-right: 30px;
    }

    .menu a:hover {
        border-bottom: 7px solid white;
    }

    .hamb {
        display: none;
    }
}

@media (max-width: 767px) {
    .headercontainer {
        height: 56px;
    }

    .header {
        height: 56px;
        display: inline-block;
        justify-content: space-between;
        align-items: center;
    }

    .headerlogo {
        margin-top: 15px;
        padding-right: 15px;
        height: 35px;
    }

    .carticon {
        float: right;
        padding: 15px;
    }

    .carticon svg {
        width: 28px;
    }
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    //   vertical-align: middle; /* 2 */
}

img,
video {
    max-width: 100%;
    height: auto;
}