* {
  font-family: "Muli, Regular";
}

.herosection {
  font-family: 'Source Serif Pro', serif;
}

.hero-sec .card_1-body {
  background-color: #1B252C;
  height: 20rem;
  width: 24.3rem;
}

.hero-sec .card_1_title {
  color: white;
  text-align: center;
  padding-top: 4rem;
  font-size: 3rem;
  font-family: 'Source Serif Pro', serif;
}

.l hr {
  opacity: 3;
  background-color: #1363DF;
  width: 10rem;
  left: 94px;
  position: relative;
  background-color: 42rem;
  height: 5px;
}

.main .card-img {
  width: 71rem;
  margin-left: -7.4rem;
  margin-top: 1rem;
}

.lines img {
  width: 122px;
  margin-left: 81px;
}

.hero-sec {
  padding-bottom: 30px;
}

.sub {
  display: none;
}

.herosection .card-body {
  width: 24rem;
  height: 18rem;
  background-color: #1B252C;
}

.herosection .cardone {
  margin-top: -3rem;
}

.herosection .card-title {
  color: white;
  text-align: center;
  padding-top: 4rem;
  font-size: 3rem;
  font-family: 'Source Serif Pro', serif;
}

.card-img {
  margin-top: -2rem;
  width: 68rem;
}

.hero_landing-right {
  height: 310px;
  margin-left: 0px;
  background-color: #1b252c;
}

.hero_land-content {
  padding: 7em;
}

.hero_land-content h2.mobile-text {
  color: white;
  font-size: 40px;
  font-weight: 400;
  font-family: 'Source Serif Pro';
}

.hero_land-content p {
  color: white;
  font-size: 40px;
  margin-left: -27px;
}

.hero-border {
  border: 3px solid #1363df;
  opacity: 100%;
  position: relative;
  width: 5.35rem;
  margin-left: 0px;
}

.pic1 img {
  width: 100%;
  height: 278px;
  position: relative;
  top: 1rem;
}

.card-img-top {
  -ms-flex-line-pack: end !important;
      align-content: end !important;
  background-size: cover !important;
  display: -ms-grid !important;
  display: grid !important;
  height: 362px !important;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: end !important;
  margin: 0 !important;
  min-height: 240px !important;
  padding: 0 !important;
  width: 100% !important;
}

.lines img {
  width: 122px;
  margin-left: 81px;
}

.herosection {
  padding-top: 33px;
  padding-bottom: 12px;
}

.mob {
  display: none;
}

@media only screen and (min-width: 320px) {
  .adc {
    display: none;
  }
  .mob {
    display: block;
  }
  .card-img img {
    width: 23rem;
    height: 157px;
    margin-top: 173px;
  }
  .card-img {
    width: 100%;
  }
  .cardone {
    margin-top: -77px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
  }
  .herosection .card-body {
    height: 11rem;
    width: 24rem;
    background-color: #1B252C;
  }
  .herosection .card-title {
    padding-top: 0rem;
  }
  .hero-sec .card_1-body {
    margin-top: 252px;
    height: 16rem;
    width: 21rem;
    position: relative;
    margin-top: 91px;
    height: 16rem;
    left: 15px;
  }
  .herosection {
    padding-top: 3px;
  }
}

@media only screen and (min-width: 766px) and (max-width: 1020px) {
  .adc {
    display: none;
  }
  .mob {
    display: block;
  }
  .cardone {
    margin-top: -77px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
  }
  .herosection .card-body {
    height: 11rem;
    background-color: #1B252C;
  }
  .herosection .card-title {
    padding-top: 0rem;
  }
  .herosection {
    padding-top: 3px;
  }
  .lines hr {
    background-color: #1363DF !important;
    height: 0.5rem !important;
    width: 14%;
    margin: 3rem 22rem;
    border-radius: 15px 15px;
    opacity: 3;
  }
}
/*# sourceMappingURL=Hero.css.map */