* {
  font-family: "Muli, Regular";
}

.herosection {
  font-family: 'Source Serif Pro', serif;
}

.hero-sec .card_1-body {
  background-color: #1B252C;
  height: 20rem;
  width: 24.3rem;
}

.hero-sec .card_1_title {
  color: white;
  text-align: center;
  padding-top: 4rem;
  font-size: 3rem;
  font-family: 'Source Serif Pro', serif;
}

.l hr {
  opacity: 3;
  background-color: #1363DF;
  width: 10rem;
  left: 94px;
  position: relative;
  background-color: 42rem;
  height: 5px;
}

.main .card-img {
  width: 71rem;
  margin-left: -7.4rem;
  margin-top: 1rem;
}

.lines img {
  width: 122px;
  margin-left: 81px;
}

.hero-sec {
  padding-bottom: 30px;
}

.sub {
  display: none;
}

.herosection .card-body {
  width: 24rem;
  height: 18rem;
  background-color: #1B252C;
}

.herosection .cardone {
  margin-top: -3rem;
}

.herosection .card-title {
  color: white;
  text-align: center;
  padding-top: 4rem;
  font-size: 3rem;
  font-family: 'Source Serif Pro', serif;
}

.card-img {
  margin-top: -2rem;
  width: 68rem;
}

.pic1 img {
  height: 18rem;
  width: 72rem;
  position: relative;
  top: 1rem;
  left: 3px;
}

.card-img-top {
  height: 382px;
  width: 319px;
  padding: 5px;
}

.lines img {
  width: 122px;
  margin-left: 81px;
}

.herosection {
  padding-top: 33px;
  padding-bottom: 12px;
}

.mob {
  display: none;
}

@media only screen and (min-width: 320px) {
  .adc {
    display: none;
  }
  .mob {
    display: block;
  }
  .card-img img {
    width: 23rem;
    height: 157px;
    margin-top: 173px;
  }
  .card-img {
    width: 100%;
  }
  .cardone {
    margin-top: -77px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
  }
  .herosection .card-body {
    height: 11rem;
    width: 24rem;
    background-color: #1B252C;
  }
  .herosection .card-title {
    padding-top: 0rem;
  }
  .hero-sec .card_1-body {
    margin-top: 252px;
    height: 16rem;
    z-index: 999;
    width: 21rem;
    position: relative;
    margin-top: 91px;
    left: 15px;
  }
  .pic1 img {
    position: absolute;
    height: 11rem;
    width: 22.5rem;
  }
  .herosection {
    padding-top: 3px;
  }
}

@media only screen and (min-width: 766px) and (max-width: 1020px) {
  .adc {
    display: none;
  }
  .mob {
    display: block;
  }
  .cardone {
    margin-top: -77px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
  }
  .herosection .card-body {
    height: 11rem;
    background-color: #1B252C;
  }
  .herosection .card-title {
    padding-top: 0rem;
  }
  .herosection {
    padding-top: 3px;
  }
  .lines hr {
    background-color: #1363DF !important;
    height: 0.5rem !important;
    width: 14%;
    margin: 3rem 22rem;
    border-radius: 15px 15px;
    opacity: 3;
  }
}

@media only screen and (min-width: 375px) {
  .pic1 img {
    width: 26.5rem;
  }
}

.hero-sec .card_1-body {
  width: 25rem;
}

@media only screen and (min-width: 425px) {
  .pic1 img {
    width: 30rem;
  }
  .hero-sec .card_1-body {
    width: 28rem;
  }
  .l hr {
    left: 124px;
  }
}

@media only screen and (min-width: 768px) {
  .pic1 img {
    height: 18rem;
    width: 55rem;
  }
  .hero-sec .card_1-body {
    width: 53rem;
    margin-top: 12rem;
  }
  .l hr {
    left: 305px;
  }
}

@media only screen and (min-width: 1024px) {
  .pic1 img {
    width: 73rem;
  }
  .hero-sec .card_1-body {
    width: 71rem;
  }
  .l hr {
    left: 423px;
  }
}
/*# sourceMappingURL=Hero.css.map */