* {
    font-family: Source Serif Pro, Semibold;

}

.Landing_left .left-content h2{
padding-top:241px;
padding-left:151px ;
}

.Landing_left {
  
    width: 1000px;
    height: 650px;
 
    background-color: #e5e5e7;

    h2 {
        font: normal normal 600 38px/60px Source Serif Pro;
    }
}

.Landing_left button {
    font-size: 12px;
    padding: 10px;
    width: 200px;
    background-color: #1363DF;
    border: none;
    border-radius: 1rem;

}
.lines hr {
    background-color: #1F39FF !important;
    height: 0.5rem !important;
    width: 19%;
    margin: 6rem 11rem;
  
    opacity: 3;
  }
.Landing_left button p {
    color: white;
}

.landing_2 {
    margin-top: -41px
}

.landing_2 img {
    height: 200px;
    width: 20rem;
    margin-right: 5px;
}

.landing_2 .card-1 img {
    width: 20rem;
}

.landing_2 .card-desc {
    background-color: #1B252CD9;
    color: white;
    margin-top: -45px;
    padding-left: 30px;
    margin-right: 0.5rem;

}

.card-desc h3 {
    font: normal normal 600 15px/30px Source Serif Pro;
    padding-top: 0.5rem;
}

.card-desc p {
    color: white;
    font: normal normal normal 12px/23px Muli;
    margin-top: -1rem;
    padding-bottom: 1rem;
}

.landing_2 .card {
    margin-top: -30px;
    width: 20rem;
}

.landing_3 .Landing_left {
    background-color: white;
    padding-top: 15px;

}

.landing_3 {
    margin-top: 280px;
    height: 450px;

    img {
        margin-left: 6rem;
    }
}

.landing_2 .card hr {
    background: #1363DF;
    opacity: 3;
    height: 6px;
    padding: 0;
    margin-bottom: 0px;
    margin-top: 0px;
}

.landing_3 .btn_1 {
    border: 2px solid #1363DF;
    background-color: white;
    width: 174px;
    height: 40px;
    margin-right: 15px;
    border-radius: 1rem;

}

.landing_3 .btn_1 p {
    color: #1363DF;
    font-size: 10px;
}

.landing_3 .btn_2 {
    width: 180px;
    height: 40px;
    border-radius: 1rem;
}

.landing_3 .btn_2 p {
    font-size: 10px;
}

.landing_3 hr {
    background-color: #1363DF;
    margin-left: 0rem;
    margin-top: -2rem;
    height: 0.5rem !important;
    width: 22%;
    opacity: 3;
}

// .landing_4 {

//     margin-bottom: 107px;
// }

.landing_4 .landing-left img {
    width: 89%;
    height: 22rem;
    position: relative;
    left: 5.9rem;
}

.landing_4 .landing-right {
    background-color: black;
    height: 23.5rem;
}

.landing_4 .landing-right h2 {
    color: white;
    font: normal normal 600 30px/60px Source Serif Pro;
    width: 326px;
    padding-left: 45px;
    padding-top: 60px;
    line-height: initial;
}

.landing_4 .landing-right p {
    color: white;
    padding-left: 45px;
}

.landing_4 .landing-right .btn_3 {
    margin-left: 53px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background-color: black;
    width: 150px;
    height: 30px;
}

.landing_4 .landing-right .btn_3 p {
    font-size: 12px;
    margin-left: -100px;
    margin-top: -0.5rem;
}

.landing_4 .landing-right {

    width: 89%;
    margin-top: -10px;
}
.landing_2 .landimg1 hr{
    margin-left: 1rem;
    width: 17.5rem;
    margin-top: 4rem;
}
.lines hr{
    width: 88%;
    margin: 4rem 1rem;
}
.landing_2 .landimg2 hr{
    width: 88%;
    margin: 4rem 1rem;

}
.landing_2 .landimg3 hr{
    width: 88%;
    margin: 4rem 1rem;
  
}
.Landing_left{
    background-color: #e5e5e7;
}
.landing_2 .landimg1 {
    background-image: url("https://fakestoreapi.com/img/71z3kpMAYsL._AC_UY879_.jpg");
    background-size: cover;
    padding-top: 15rem;
    width: 18rem;
    height: 12rem;

}
.Landing-right .imgsize{
    height: 650px;
}
.landing_2 .landimg {
    background-image: url("https://fakestoreapi.com/img/71li-ujtlUL._AC_UX679_.jpg");
    background-size: cover;
    padding-top: 15rem;
    width: 18rem;
}

.landing_2 .landimg2 {
    background-image: url("https://fakestoreapi.com/img/71YAIFU48IL._AC_UL640_QL65_ML3_.jpg");
    background-size: cover;
    padding-top: 15rem;
    width: 18rem;
}

.landing_2 .landimg3 {
    background-image: url("https://fakestoreapi.com/img/81Zt42ioCgL._AC_SX679_.jpg");
    background-size: cover;
    padding-top: 15rem;
    width: 18rem;
}

.landing_2 .landimg1 hr {
    height: 0.5rem;
    background-color: blue;
}

.landing_2 {
    position: absolute;
    padding-left: 5rem;
}

.landing_4 hr {
    top: 113rem;
    background-color: #1363DF;
    position: absolute;
    right: 33.5rem;
    height: 0.3rem !important;
    width: 3%;
    opacity: 3;
}
.mob-landing{
    display: none;
}
.landing_4 .map1 {
   top:111rem;
    font-size: 35px;
    color: #f3f3f3;
    position: absolute;
    right: 33.6rem;
}
.landing_3{
    display: block;
}

@media only screen and (max-width: 320px) {
    .container {
        overflow: hidden;
    }

    .landing_3 {
        display: none;
    }

    .landing-mob {
        display: block;
    }

    // .landing_2 .landimg1{
    //     margin-top:-11rem;
    // }
    .Landingright img {
        height: 27rem;
    }

    .Landingleft {
        position: relative;
        top: -17rem;
        text-align: center;
    }

    .landing_1 {
        display: none;
    }

   
    .landing_2 {
        padding-left: 3rem;

        .card-desc {
            width: 23rem;

        }

        .landimg1 {
            margin-left: -4rem;
            width: 23rem;
            margin-top: 3rem;

        }

        .landimg {
            margin-left: -4rem;
            width: 23rem;
            margin-top: 3rem;
        }

        .landimg2 {

            margin-left: -4rem;
            width: 23rem;
            margin-top: 3rem;
        }

        .landimg3 {
            margin-left: -4rem;
            width: 23rem;
            margin-top: 3rem;
        }
    }


    .mob-landing {
        display: block;
    }

    .mob-landing .mob-img img {
        position: absolute;
        top: 81rem;
        left: 0.3rem;
        width: 23rem;
    }

    .mob-landing .mob-text h2 {
        font: normal normal 600 34px/45px Source Serif Pro;
        position: absolute;
        top: 98rem;
        left: 2rem;
    }

    .mob-landing .mob-text h5 {
        top: 107rem;
        // position: absolute;
        margin-top: 103rem;
        margin-left: 1rem;
        font: normal normal 600 20px/25px Muli;
    }

    .mob-landing .mob-text p {
        position: relative;
        left: 1rem;
        font: normal normal normal 16px/24px Muli;
    }

    .mob-text .btns .btn_3 {
        // position: relative;
        width: 15rem;
        background-color: white;
        margin-left: 5rem;
        border: 2px solid blue;
        border-radius: 11px;
        margin-top: 1rem;
    }

    .mob-text .btn_4 {

        // position: relative;
        width: 15rem;
        background-color: blue;
        margin-left: 5rem;
        border-radius: 11px;

    }

    .landing-left {
        width: 25rem;
        margin-left: -6rem;
    }

    .landing_4 .landing-left img {
        height: 20rem;
        margin-top: 3rem;

    }

    .landing_4 .landing-right {
        width: 21rem;
        height: 22rem;
        position: relative;
        top: -3rem;
        left: 0.5rem;

        h2 {
            padding-left: 2rem;
        }

        p {
            padding-left: 2rem;
        }
    }

    .landing_4 .landing-right .btn_3 {
        margin-left: 39px;

        p {
            padding-left: 6rem;
        }
    }

}