* {
    font-family: Source Serif Pro, Semibold;

}

.carousel-control-next,
.carousel-control-prev

/*, .carousel-indicators */
    {
    filter: invert(100%);
    width: 6%;
}

a.carousel-control-prev {
    width: 9%;
}

a.carousel-control-next {
    width: 9%;
}

span.carousel-control-prev-icon,
span.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

.Landing_left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.leftcontent {
    height: 273px;
    width: 552px;
}

.leftcontent H2 {
    font-size: 48px;
}

.leftcontent p {
    font-size: 16px;
}

.leftcontent button p {
    font-size: 14px;
    font-family: Muli;
    font-weight: 700;
}

@media only screen and (max-width: 768px) {
    .carousel-indicators button {
        padding: 1px;
        width: 10px !important;
        border-radius: 50%;
        height: 10px !important;
        filter: invert(100%);
    }

    a.carousel-control-prev {
        display: none;
    }

    a.carousel-control-next {
        display: none;
    }

    .Landing-right {
        display: none;
    }
}

.left-content {
    right: 49px;
    width: 552px;
    height: 273px;
    position: relative;
}
.Landing_left{
    height: 710px;
}
.Landing_left .left-content h2 {
    font: normal normal 600 40px/60px Source Serif Pro;
    letter-spacing: 0px;
    color: #172026;
    left: 86px;
}

.Landing_left .left-content p {
 left: 86px;
    font: normal normal normal 16px/24px Muli;
  

}

.Landing_left .left-content button {
    border-radius: 18px;
    border: none;
    background: #1363DF;
    width: 184px;
    margin-left: 112px;
    height: 47px;
}

.Landing_left .left-content button p {
    font: normal normal normal 11px/24px Muli;
    color: white;
 text-align: initial;
   
}

.card-desc h3 {
    padding-top: 12px;
    text-align: center;
    font-family: "Source Serif Pro";
    font: normal normal 300 16px/30px Source Serif Pro;
    letter-spacing: 0px;
}

.landing_2 .card-desc {
 
    background-color: #1B252CD9;
    
    color: white;
  
}

.landing_2 .card-desc1 {
    background-color: #1B252CD9;
    color: white;
    margin-top: -45px;
    padding-left: 35px;
    margin-right: 0.5rem;
}

.landing_3 .Landing_left {
    width: 631px;
    height: 347px;
}

.Landing_left h2 {
    // width: 411px;
    // height: 126px;
    // padding-left: 117px;
    position: relative;
    right: 61px;
    font: normal normal 600 40px/60px Source Serif Pro;
}

.Landing_left h5 {
    // padding-left: 117px;
    position: relative;
    right: 102px;

    font: normal normal 600 20px/25px Muli;
}

.Landing_left p {
    position: relative;
    right: 65px;
    font: normal normal normal 16px/24px Muli;
}

.landing_2 img {
    height: 200px;
    width: 20rem;
    margin-right: 5px;
}

.landing_2 .card-1 img {
    width: 20rem;
}

.card-desc p {
    color: white;
    font: normal normal normal 12px/23px Muli;
    margin-top: -1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.landing_2 .card {
    margin-top: -30px;
    width: 20rem;
}

.landing_3 .Landing_left {
    background-color: white;
    margin-top: 4rem;

}

.landing_3 {

    margin-top: 358px;
    height: 450px;

    img {
        margin-left: 6rem;
        height: 27rem;
        width: 31rem;
    }
}

.landing_2 .card hr {
    background: #1363DF;
    opacity: 3;
    height: 6px;
    padding: 0;
    // margin-bottom: 0px;
    // margin-top: 0px;
}

.landing_3 .btn_1 {
    border: 2px solid #1363DF;
    background-color: white;
    width: 174px;
    height: 40px;
  
    border-radius: 1rem;
    position: relative;
    right: 48px;
}

.landing_3 .btn_1 p {
    color: #1363DF;
    font-size: 10px;
    float: right;
}

.landing_3 .btn_2 {
    background-color: #1363DF;
    width: 180px;
    height: 40px;
    border-radius: 1rem;
    position: relative;
    bottom: 9px;
    margin-bottom: 42px;
    border: 1px;
}

.landing_3 .btn_2 p {
    color: white;
    text-align: end;
    font-size: 10px;
}

.landing_3 hr {
    background-color: #1363DF;
    margin-left: -2rem;
    margin-top: -2rem;
    height: 0.5rem !important;
    width: 22%;
    opacity: 3;
}

.landing_4 .landing-left img {
    left: 16px;
    height: 22rem;
    position: relative;
    width: 98%;
}

.landing_4 .landing-right {
    background-color: black;
    height: 23.5rem;
}

.landing_4 .landing-right h2 {
    color: white;
    font: normal normal 600 30px/60px Source Serif Pro;
    width: 326px;
    padding-left: 45px;
    padding-top: 81px;
    line-height: initial;
}

.landing_4 .landing-right p {
    color: white;
    padding-left: 45px;
}

.landing_4 .landing-right .btn_3 {
    margin-left: 53px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background-color: black;
    width: 150px;
    height: 30px;
}

.landing_4 .landing-right .btn_3 p {
    font-size: 12px;
    padding-left: 0px;
}

.landing_4 .landing-right {

    width: 89%;
    margin-top: -10px;
}

.landing_2 .landimg1 hr {
    margin-left: 1rem;
    width: 17.5rem;
    margin-top: 4rem;
}

.lines hr {
    width: 88%;
    margin: 4rem 1rem;
}

.landing_2 .landimg2 hr {
    width: 88%;
    margin: 4rem 1rem;

}

.landing_2 .landimg3 hr {
    width: 88%;
    margin: 4rem 1rem;

}

.Landing_left {
    background-color: #e5e5e7;
    position: relative;
    bottom: 58px;
}

.landing_2 .landimg1 {
    background-image: url("https://fakestoreapi.com/img/71z3kpMAYsL._AC_UY879_.jpg");
    background-size: cover;
    padding-top: 15rem;
    width: 18rem;
    height: 12rem;
    bottom: 38px;
    position: relative;
    

}

.Landing-right .imgsize {
    height: 650px;
    
}

.landing_2 .landimg {
    background-image: url("https://fakestoreapi.com/img/71li-ujtlUL._AC_UX679_.jpg");
    background-size: cover;
    padding-top: 15rem;
    width: 18rem;
    bottom: 38px;
    position: relative;
}

.landing_2 .landimg2 {
    background-image: url("https://fakestoreapi.com/img/71YAIFU48IL._AC_UL640_QL65_ML3_.jpg");
    background-size: cover;
    padding-top: 15rem;
    width: 18rem;
    bottom: 38px;
    position: relative;
}

.landing_2 .landimg3 {
    background-image: url("https://fakestoreapi.com/img/81Zt42ioCgL._AC_SX679_.jpg");
    background-size: cover;
    padding-top: 15rem;
    width: 18rem;
    bottom: 38px;
    position: relative;
}

.landing_2 .landimg1 hr {
    height: 0.5rem;
    background-color: blue;
    bottom: 56px;
    position: relative;
    right: 14px;
    opacity: 3;
}

.landing_2 {
    top: 53rem;
    position: absolute;
    padding-left: 5rem;
}
.lines hr{
    height: 0.5rem;
   
    background-color: blue;
    bottom: 94px;
    position: relative;
    right: 14px;
    opacity: 3;
    width: 244px;
}
.landing_4 hr {
    top: 134rem;
    background-color: #1363DF;
    position: absolute;
    right: 33.5rem;
    height: 0.3rem !important;
    width: 3%;
    opacity: 3;
}

.mob-landing {
    display: none;
}

.landing_4 .map1 {
    top: 132rem;
    font-size: 35px;
    color: #f3f3f3;
    position: absolute;
    right: 33.6rem;
}

.landing_3 {
    display: block;
}

@media only screen and (max-width: 320px) {
    .container {
        overflow: hidden;
    }

    .landing_3 {
        display: none;
    }

    .landing-mob {
        display: block;
    }

    // .landing_2 .landimg1{
    //     margin-top:-11rem;
    // }
    .Landingright img {
        height: 27rem;
    }

    .Landingleft {
        position: relative;
        top: -17rem;
        text-align: center;
    }

    .landing_1 {
        display: flex;
    }


    .landing_2 {
        padding-left: 3rem;

        .card-desc {
            width: 23rem;

        }

        .landimg1 {
            margin-left: -4rem;
            width: 23rem;
            margin-top: 3rem;

        }

        .landimg {
            margin-left: -4rem;
            width: 23rem;
            margin-top: 3rem;
        }

        .landimg2 {

            margin-left: -4rem;
            width: 23rem;
            margin-top: 3rem;
        }

        .landimg3 {
            margin-left: -4rem;
            width: 23rem;
            margin-top: 3rem;
        }
    }


    .mob-landing {
        display: block;
    }

    .mob-landing .mob-img img {
        position: absolute;
        top: 81rem;
        left: 0.3rem;
        width: 23rem;
    }

    .mob-landing .mob-text h2 {
        font: normal normal 600 34px/45px Source Serif Pro;
        position: absolute;
        top: 98rem;
        left: 2rem;
    }

    .mob-landing .mob-text h5 {
        top: 107rem;
        // position: absolute;
        margin-top: 103rem;
        margin-left: 1rem;
        font: normal normal 600 20px/25px Muli;
    }

    .mob-landing .mob-text p {
        position: relative;
        left: 1rem;
        font: normal normal normal 16px/24px Muli;
    }

    .mob-text .btns .btn_3 {
        // position: relative;
        width: 15rem;
        background-color: white;
        margin-left: 5rem;
        border: 2px solid blue;
        border-radius: 11px;
        margin-top: 1rem;
    }

    .mob-text .btn_4 {

        // position: relative;
        width: 15rem;
        background-color: blue;
        margin-left: 5rem;
        border-radius: 11px;

    }

    .landing-left {
        width: 25rem;
        margin-left: -6rem;
    }

    .landing_4 .landing-left img {
        height: 20rem;
        margin-top: 3rem;

    }

    .landing_4 .landing-right {
        width: 21rem;
        height: 22rem;
        position: relative;
        top: -3rem;
        left: 0.5rem;

        h2 {
            padding-left: 2rem;
        }

        p {
            padding-left: 2rem;
        }
    }

    .landing_4 .landing-right .btn_3 {
        margin-left: 39px;

        p {
            padding-left: 6rem;
        }
    }

}