.login li{
    list-style: none;   
}
.login ul{
    display: flex;
    gap:20px;
    padding-left: 70px;
}
h1 {
    margin-top: 48px;
}

form {
    background: #fff;
    max-width: 58rem;
    width: 100%;
    padding: 58px 44px;
    // border: 1px solid #e1e2f0;
    // border-radius: 4px;
    // box-shadow: 0 0 5px 0 rgba(42, 45, 48, 0.12);
    transition: all 0.3s ease;
}

.sign01 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.sign01 label {
    font-size: 13px;
    color: #8086a9;
}

.sign01 input {
    flex: 1;
    padding: 13px;
    border: 1px solid #d6d8e6;
    border-radius: 4px;
    font-size: 16px;
   
}


.sign01 input::placeholder {
    color: #C8CDDF;
}

button {
    // width: 100%;
    padding: 12px;
    font-size: 18px;
    background: rgb(46, 46, 167);
    color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 15px;
   
}

.login-btn{
    width: 12rem;
    margin-left: 15rem;
}
@media only screen and (max-width:320px){
    .login-btn button{
        margin-left: -8rem;
    }
    .login ul{
        padding-left: 0px;
    }
}